#about {
      position: relative;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      & .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 400px;
            position: absolute;
            top: -200px;
            background: url(../assets/icons/sun-svgrepo-com.svg) no-repeat
                  center/cover;
            transition: 0.5s ease-out;
      }
      & .contact-text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            position: absolute;
            padding: 20px 10px;
            top: -50px;
            left: -50px;
            border-radius: 50%;
            font-family: cormorant;
            color: var(--accent);
            font-size: 25px;

            &:hover {
                  cursor: pointer;
            }
      }

      & .container {
            width: 75%;
            height: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & img {
                  width: 400px;
                  height: 550px;
                  object-fit: cover;
            }
            & .presentation {
                  position: relative;
                  width: 60%;
                  height: 100%;
                  padding: 15px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  justify-content: flex-end;

                  & h2 {
                        font-family: "cormorant";
                        margin: 25px 0;
                        text-wrap: nowrap;
                        font-size: 4em;
                        color: var(--black);
                        font-weight: 500;

                        & span {
                              font-family: "cormorant";
                              color: var(--accent);
                        }
                  }

                  & p {
                        font-size: 1.5em;
                        line-height: 1.5;
                        text-align: justify;
                  }
            }
      }
}

@keyframes rotate {
      from {
            transform: rotate(0);
      }
      to {
            transform: rotate(360deg);
      }
}
