#gallerie {
      height: 100vh;
      position: relative;

      & .scrolling_text {
            width: 100%;
            height: 100px; /* Hauteur de la bande de texte */
            overflow: hidden; /* Cache le texte débordant */
            position: absolute; /* Reste fixe en haut de la page */
            top: 0;
            left: 0;
            padding: 20px 0;
            display: flex;
            align-items: center;
            white-space: nowrap;
            border-top: 1px solid var(--accent);
            border-bottom: 1px solid var(--accent);

            & p {
                  font-family: "cormorant";
                  text-align: center;
                  color: var(--accent);
                  font-weight: lighter;
                  font-size: 4em;
                  letter-spacing: 5px;
                  display: inline-block;
                  padding-right: 100%;
            }
      }
}
